node_modules
dist
dist-ssr
*.local
.DS_Store
.vite

# editor
.idea
.vscode/*
!.vscode/extensions.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TS incremental build info
*.tsbuildinfo
